body{
    background-color: gainsboro;
    font-family: sans-serif;
}

.box{
    box-shadow: 2px 2px 8px black;
}
.cardbox{
    box-shadow: 2px 2px 8px black;
}
/* 

.login-box{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 0;
    box-shadow: 0 15px 25px black;
    background-color: white;
}

.login-box > h1 {
    margin:0 0 30px;
    letter-spacing: 4pt;
    text-transform: uppercase;
    padding: 0;
    text-align: left;
}

.textbox > input{
    
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid ;
    outline: none;
    background-color: white;
}
.button > input{
    display:inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:blue;
    color: white;
    border: 1px solid #03e9f4;
}
.button > input:hover{
    background-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4
                0 0 25px #03e9f4
                0 0 75px #03e9f4
                0 0 100px #03e9f4;
} */